@mixin large {
  @media only screen and (max-width: 75em) {
    width: 70%;
  }
}

@mixin medium {
  @media only screen and (max-width: 56.25em) {
    width: 80%;
  }
}

@mixin small {
  @media only screen and (max-width: 31.25em) {
    width: 100%;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  text-align: center;
}

.title {
  margin-bottom: 2rem;
}

.input__container {
  width: 50%;
  animation: moveLeftIn 2s 0.3s backwards;

  @include large;
  @include medium;
  @include small;
}

.list__container {
  width: 50%;
  animation: moveRightIn 2s 0.3s backwards;
  @include large;
  @include medium;
  @include small;
}

.btn {
  display: block;
  width: 100%;
  border: none;
  border-radius: 1rem;
  color: #fff;
  transition: all 0.2s;
  font-size: inherit;
  padding: 1rem 0;
  text-transform: uppercase;

  &:disabled {
    opacity: 0.5;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: translateY(3px);
  }

  &--blue {
    background-color: #0779e4;
  }

  &--red {
    background-color: red;
  }

  &--green {
    background-color: green;
  }
}

@keyframes moveLeftIn {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }

  50% {
    opacity: 0.5;
    transform: translateX(10%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveRightIn {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }

  50% {
    opacity: 0.5;
    transform: translateX(-10%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
